* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #393646;
}
.cabecalho__menu {
  display: flex;
  gap: 20px;
}
.cabecalho {
  padding: 2% 0% 0% 20%;
  gap: 40px;
}

.cabecalho__menu__link {
  font-family: "Chakra Petch";
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #f4eee0;
}
.container {
  padding: 8% 20% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}
.main__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main__title {
  color: #a8686a;
  font-size: 1.875rem;
  font-family: "Chakra Petch";
}
.main__conteudo__h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #edb4a1;
  font-family: "Chakra Petch";
}
section p {
  margin-bottom: 10px;
  font-family: "Chakra Petch";
  color: #f4eee0;
  font-size: 1.15rem;
}
.main__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main__link__subtitulo {
  font-family: "Chakra Petch";
  font-weight: 600;
  color: #edb4a1;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.25rem;
}
.main__link__links {
  margin-top: 15px;
  color: #f4eee0;
  text-decoration: none;
  width: 50%;
  border: 2px solid #6e6c67;
  border-radius: 10px;
  text-align: center;
  font-family: "Chakra Petch";
  font-weight: 500;
  padding: 10px 20px;
}
.main__link__links:hover {
  background-color: #6e6c67;
}
.main__imagem {
  width: 50%;
}
.rodape {
  font-family: "Chakra Petch";
  font-size: 0.85rem;
  font-weight: 500;
  background-color: #6e6c67;
  padding: 15px;
  text-align: center;
}

/*responsivo tablet*/
@media (max-width: 1200px) {
  .cabecalho {
    padding: 8%;
  }
  .cabecalho__menu {
    justify-content: center;
  }

  .container {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .main__conteudo {
    width: auto;
  }
}
